.home{
    height: 100%;
    width: 100%;
    position: relative;
   padding: 0 20px;
}
.herobgImage{
    height: 65vh;
    width: 93vw;
}
.herobgImage img{
    width: 100%;
    filter: brightness(60%);
}

.home .content{
    height: 100%;
    width:93vw;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 0;
    color: rgb(255, 255, 255);
}
.home .content h1{
    font-size: 2.3rem;
}