.placesInfoHero{
    height: 30vh;
    padding: 50px 25px;
}
.carousel{
    height: 50vh;
}
.react-3d-carousel{
    width: 110%;
}
.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content img{
    height: 45vh;
    width: 100%;
    
}
.react-3d-carousel .slider-container .slider-content .slider-single {
    padding: 0 10px;
}
.placesInfoHero .placeTitle h3{
    color: #0077b6;
    font-size: 4.3rem;
}
.placesInfoHero .placeTitle p{
    font-size: 2.5rem;
    font-weight: 600;
    color: #474545;
}
.placesInfoHero .placeSubtitle p{
    font-weight: 600;
    color: #474545;
}