.navBar{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px  #88888836;
}
.navBar .logo{
    height: 65px;
    width: 65px;    
}
.navBar .logo-text{
    font-weight: 700;
    font-size: 25px !important;
}
.navBar ul{
    list-style: none;
}
.navBar li{
    color: #0077b6;
    font-weight: 600;
    list-style: none;
}
.navBar .navItems ul li::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    border-radius: 6px;
    left: 50%;
    position: relative;
    background: #5959595d;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navBar .navItems ul li:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .navBar .navItems ul li.active::after{
    width: 100%; 
    left: 0; 
  }
.navBar  li a{
    text-decoration: none;
    color: #0077b6;
    font-weight: 600;
}
.navBar button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #48cae4;
}
.navBar button:hover{
    color: #48cae4;
    background-color: white;
    border: 1px solid #48cae4;
}