.destination {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #68d3e81f;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}
.destination img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.destination img:hover {
  transform: scale(1.02);
}
.destination h3 {
  font-size: 22px;
  color: #0077b6;
  margin: 0;
}
.destination span {
  font-weight: 600;
  color: #5c5b5b;
  position: relative;
  top: -5px;
}
.destination p {
  height: 50px;
  font-weight: 600;
}
.destination .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.destination .info .services {
  display: flex;
  gap: 0.3rem;
}
.destination .info .services img {
  border-radius: 1rem;
  background-color: #48cae4d1;
  width: 2rem;
  /* padding: 1rem; */
  padding: 0.3rem 0.4rem;
}
.destination .distance {
  display: flex;
  justify-content: space-between;
}
.destination .distance span {
  font-weight: 600;
  color: black;
  position: relative;
  top: 0px;
}


/* Place Cards */
.placesCard{
  width: 400px;
  height: 51vh;
  border-radius: 10px;
  margin: 25px 25px;
  background-color:white;
}
.placesCard .imgDetails img{
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  filter: brightness(70%);
}
.placesCard .imgDetails{
  position: relative;
}
.placesCard .imgDetails .imageContent .imgtext{
  background-color: #757575b3;
  position: absolute;
  top: 2px;
  width: 70%;
  margin: 10px;
  padding: 4px 3px 0 13px;
  border-radius: 20px;
  /* filter: blur(4px); */
  /* backdrop-filter: blur(5px); */
}
.placesCard .imgDetails .imageContent h1{
  font-size: 18px;
  color: #e3e3e3;
}
.placesCard .imgDetails .savePlace{
  background-color: #ffffffe2;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 37px;
  height: 37px;
  margin: 10px;
  padding: 4px 3px 0 13px;
  border-radius: 50%;
}
.placesCard .imgDetails .savePlace i{
  color: #ffa50096;
}
.placeCardsDetails{
  padding: 0 15px;
}

.placeCardsDetails h3{
  margin: 5px 0;
  font-size: 20px;
  font-weight: 700;
  color: #474545;
}
.placeCardsDetails .placeInfo p{
  margin: 0;
  font-weight: 600;
  color: #474545;
}
.placeCardsDetails .placeInfo .checked{
  color: orange;
  font-size: 12px;
  margin: 0 2px;
  font-weight: 900;
}
.placeCardsDetails .placeInfo .placesStarRating{
  width: 90px;
}
.placeCardsDetails .placeInfo .placeCardRating{
  font-size: 13px;
}
.placeCardsDetails .placeInfo .placeCardRating .numberOfReview{
  font-weight: 400;
}

/* Clients Cards */

.clientCards{
  height: 40vh;
  width: 90%;
  background-color: #0077b6;
  /* margin: 10px; */
}